/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&family=Roboto:wght@400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700;900&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a:link {
  color: inherit;
  text-decoration: none;
}

.pt-5 {
  padding-top: 5px !important;
}

.pt-10 {
  padding-top: 10px !important;
}

.pt-15 {
  padding-top: 15px !important;
}

.pt-20 {
  padding-top: 20px !important;
}

.pt-25 {
  padding-top: 25px !important;
}

.pb-5 {
  padding-bottom: 5px !important;
}

.pb-10 {
  padding-bottom: 10px !important;
}

.pb-15 {
  padding-bottom: 15px !important;
}

.pb-20 {
  padding-bottom: 20px !important;
}

.pb-25 {
  padding-bottom: 25px !important;
}

.pl-5 {
  padding-left: 5px !important;
}

.pl-10 {
  padding-left: 10px !important;
}

.pl-15 {
  padding-left: 15px !important;
}

.pl-20 {
  padding-left: 20px !important;
}

.pl-25 {
  padding-left: 25px !important;
}

.pr-5 {
  padding-right: 5px !important;
}

.pr-10 {
  padding-right: 10px !important;
}

.pr-15 {
  padding-right: 15px !important;
}

.pr-20 {
  padding-right: 20px !important;
}

.pr-25 {
  padding-right: 25px !important;
}

.mt-5 {
  margin-top: 5px !important;
}

.mt-10 {
  margin-top: 10px !important;
}

.mt-15 {
  margin-top: 15px !important;
}

.mt-20 {
  margin-top: 20px !important;
}

.mt-25 {
  margin-top: 25px !important;
}

.mb-5 {
  margin-bottom: 5px !important;
}

.mb-10 {
  margin-bottom: 10px !important;
}

.mb-15 {
  margin-bottom: 15px !important;
}

.mb-20 {
  margin-bottom: 20px !important;
}

.mb-25 {
  margin-bottom: 25px !important;
}

.ml-5 {
  margin-left: 5px !important;
}

.ml-10 {
  margin-left: 10px !important;
}

.ml-15 {
  margin-left: 15px !important;
}

.ml-20 {
  margin-left: 20px !important;
}

.ml-25 {
  margin-left: 25px !important;
}

.mr-5 {
  margin-right: 5px !important;
}

.mr-10 {
  margin-right: 10px !important;
}

.mr-15 {
  margin-right: 15px !important;
}

.mr-20 {
  margin-right: 20px !important;
}

.mr-25 {
  margin-right: 25px !important;
}

.roboto {
  font-family: "Roboto", sans-serif;
}

.notoSans {
  font-family: "Noto Sans TC", sans-serif;
}

.fz-14 {
  font-size: 14px;
  line-height: 1.5;
}

.fz-16 {
  font-size: 16px;
  line-height: 1.5;
}

.fz-20 {
  font-size: 20px;
  line-height: 1.5;
}

.fz-24 {
  font-size: 24px;
  line-height: 1.5;
}

.fz-48 {
  font-size: 48px;
  line-height: 1.5;
}

.fz-36 {
  font-size: 36px;
  line-height: 1.5;
}

.fz-64 {
  font-size: 64px;
  line-height: 1.5;
}

.fz-72 {
  font-size: 72px;
  line-height: 1.5;
}

@media screen and (max-width: 768px) {
  .fz-m-14 {
    font-size: 14px;
    line-height: 1.5;
  }

  .fz-m-16 {
    font-size: 16px;
    line-height: 1.5;
  }

  .fz-m-20 {
    font-size: 20px;
    line-height: 1.5;
  }

  .fz-m-24 {
    font-size: 24px;
    line-height: 1.5;
  }

  .fz-m-28 {
    font-size: 28px;
    line-height: 1.5;
  }

  .fz-m-32 {
    font-size: 32px;
    line-height: 1.5;
  }

  .fz-m-36 {
    font-size: 36px;
    line-height: 1.5;
  }

  .fz-m-48 {
    font-size: 48px;
    line-height: 1.5;
  }

  .lh-m-25 {
    line-height: 25px;
  }
}
@media screen and (max-width: 375px) {
  .fz-s-14 {
    font-size: 14px;
    line-height: 1.5;
  }

  .fz-s-16 {
    font-size: 16px;
    line-height: 1.5;
  }

  .fz-s-20 {
    font-size: 20px;
    line-height: 1.5;
  }

  .fz-s-24 {
    font-size: 24px;
    line-height: 1.5;
  }

  .fz-s-28 {
    font-size: 28px;
    line-height: 1.5;
  }

  .fz-s-32 {
    font-size: 32px;
    line-height: 1.5;
  }

  .lh-s-25 {
    line-height: 25px;
  }

  .lh-s-30 {
    line-height: 30px;
  }

  .lh-s-48 {
    line-height: 48px;
  }

  .lh-s-72 {
    line-height: 72px;
  }
}
.container {
  max-width: 1110px;
  margin: 0 auto;
}
.container--modify {
  max-width: 1063px;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 690px;
  }
  .container--modify {
    max-width: 597px;
  }
}
@media screen and (max-width: 375px) {
  .container {
    max-width: 345px;
  }
  .container--modify {
    max-width: 237px;
  }
}
.navbar {
  padding: 30px 88px;
}

.navList__item {
  height: fit-content;
  margin: 0 32px;
}
.navList__item:first-child {
  margin-left: 0;
}
.navList__item:last-child {
  margin-right: 0;
}

@media screen and (max-width: 768px) {
  .navbar {
    padding: 30px 39px;
  }

  .navList__item {
    margin: 0 10px;
  }
}
@media screen and (max-width: 375px) {
  .navbar {
    padding: 0;
  }

  .logo {
    width: fit-content;
    margin: 0 auto;
    padding: 10px 0;
  }

  .navList__item {
    box-sizing: border-box;
    border: 1px solid #ffffff;
    margin: 0;
    padding: 8px 0;
  }
}
.cover {
  background-image: url(../../src/img/banner.png);
  box-sizing: border-box;
  height: 840px;
  margin-bottom: 64px;
}

@media screen and (max-width: 768px) {
  .cover {
    background-image: url(../../src/img/banner-sm.png);
    margin-bottom: 40px;
  }
  .cover__container {
    margin-left: 38.671875%;
  }
  .cover__subTitle {
    margin-left: 140px;
  }
}
@media screen and (max-width: 375px) {
  .cover {
    background-size: cover;
    background-position: center center;
    height: 394px;
    margin-bottom: 32px;
  }
  .cover__container {
    margin-left: 19.2%;
  }
  .cover__subTitle {
    margin-left: 54px;
  }
}
.intro {
  color: #650300;
  margin-bottom: 144px;
}
.intro__title {
  margin-bottom: 60px;
}
.intro__list {
  display: flex;
  justify-content: space-between;
}
.intro__list__item {
  width: 20%;
}
.intro__list__item--order {
  order: 0;
}
.intro__icon {
  width: 100px;
  height: 100px;
  margin-bottom: 40px;
}
.intro__subTitle {
  margin-bottom: 4px;
}

@media screen and (max-width: 768px) {
  .intro {
    margin-bottom: 80px;
  }
  .intro__container {
    width: 77.8645833333%;
  }
  .intro__title {
    margin-bottom: 32px;
  }
  .intro__list {
    flex-wrap: wrap;
  }
  .intro__list__item {
    width: 40%;
    margin-bottom: 40px;
  }
  .intro__list__item--order {
    order: 1;
  }
  .intro__icon {
    width: 80px;
    height: 80px;
    margin-bottom: 16px;
  }
  .intro__subTitle {
    margin-bottom: 8px;
  }
}
@media screen and (max-width: 375px) {
  .intro {
    margin-bottom: 84px;
  }
  .intro__container {
    width: 70.4%;
  }
  .intro__title {
    margin-bottom: 20px;
  }
  .intro__list {
    flex-direction: column;
  }
  .intro__list__item {
    width: 100%;
  }
  .intro__list__item:last-child {
    margin-bottom: 0;
  }
}
.product__title {
  margin-bottom: 50px;
}
.product__list__item {
  margin-bottom: 32px;
}
.product__list__item:last-child {
  margin-bottom: 80px;
}
.product__list__cover {
  width: 635px;
  height: 320px;
  object-fit: cover;
}
.product__list__title {
  margin: 0 30px;
}
.product__list__icon, .product__list__icon--alter {
  height: 50px;
  margin-right: 8px;
}
.product__list__icon--alter {
  display: none;
}

@media screen and (max-width: 768px) {
  .product__container {
    width: 100%;
  }
  .product__title {
    margin-bottom: 32px;
  }
  .product__list {
    margin-left: 39px;
  }
  .product__list__item {
    margin-bottom: 8px;
  }
  .product__list__item:last-child {
    margin-bottom: 40px;
  }
  .product__list__cover {
    width: 390px;
    height: 168px;
  }
  .product__list__icon, .product__list__icon--alter {
    max-height: 32px;
    max-width: 32px;
  }
}
@media screen and (max-width: 375px) {
  .product__title {
    margin-bottom: 20px;
  }
  .product__list {
    margin: 0;
  }
  .product__list__item {
    position: relative;
  }
  .product__list__item:last-child {
    margin-bottom: 32px;
  }
  .product__list__cover {
    width: 100%;
    height: 134px;
  }
  .product__list__icon {
    display: none;
  }
  .product__list__icon--alter {
    display: block;
  }
  .product__list__title {
    position: absolute;
    width: 100%;
    margin: 0;
  }
}
.coBrand {
  width: 100%;
  height: 743px;
  background-image: url("../../src/img/bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  box-sizing: border-box;
  padding-top: 64px;
  margin-bottom: 64px;
}
.coBrand__title {
  margin-bottom: 60px;
}
.coBrand__brand {
  position: relative;
}
.coBrand__brand__name {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}
.coBrand__brand__cover {
  width: 540px;
  height: 472px;
  object-fit: cover;
}

@media screen and (max-width: 768px) {
  .coBrand {
    height: 437px;
    padding-top: 40px;
    margin-bottom: 40px;
  }
  .coBrand__title {
    margin-bottom: 32px;
  }
  .coBrand__brand__cover {
    width: 330px;
    height: 280px;
  }
}
@media screen and (max-width: 375px) {
  .coBrand {
    height: 696px;
    padding-top: 32px;
    margin-bottom: 32px;
  }
  .coBrand__title {
    margin-bottom: 20px;
  }
  .coBrand__brand {
    margin-bottom: 16px;
  }
  .coBrand__brand__cover {
    width: 100%;
    height: 284px;
  }
}
.txt-left {
  text-align: left;
}
.txt-right {
  text-align: right;
}
.txt-center {
  text-align: center;
}
.txt-italic {
  font-style: italic;
}
.txt-uppercase {
  text-transform: uppercase;
}
@media screen and (max-width: 768px) {
  .txt-m-left {
    text-align: left;
  }
  .txt-m-right {
    text-align: right;
  }
  .txt-m-center {
    text-align: center;
  }
  .txt-m-italic {
    font-style: italic;
  }
  .txt-m-uppercase {
    text-transform: uppercase;
  }
}
@media screen and (max-width: 375px) {
  .txt-s-left {
    text-align: left;
  }
  .txt-s-right {
    text-align: right;
  }
  .txt-s-center {
    text-align: center;
  }
  .txt-s-italic {
    font-style: italic;
  }
  .txt-s-uppercase {
    text-transform: uppercase;
  }
}

.fw-regular {
  font-weight: 400;
}
.fw-medium {
  font-weight: 500;
}
.fw-bold {
  font-weight: 700;
}
.fw-black {
  font-weight: 900;
}
@media screen and (max-width: 768px) {
  .fw-m-regular {
    font-weight: 400;
  }
  .fw-m-medium {
    font-weight: 500;
  }
  .fw-m-bold {
    font-weight: 700;
  }
  .fw-m-black {
    font-weight: 900;
  }
}
@media screen and (max-width: 375px) {
  .fw-s-regular {
    font-weight: 400;
  }
  .fw-s-medium {
    font-weight: 500;
  }
  .fw-s-bold {
    font-weight: 700;
  }
  .fw-s-black {
    font-weight: 900;
  }
}

.txt-primary {
  color: #aa0601;
}
.txt-primary-contrast {
  color: #ffffff;
}
.txt-secondary {
  color: #650300;
}
.txt-secondary-contrast {
  color: #000;
}
@media screen and (max-width: 768px) {
  .txt-m-primary {
    color: #aa0601;
  }
  .txt-m-primary-contrast {
    color: #ffffff;
  }
  .txt-m-secondary {
    color: #650300;
  }
  .txt-m-secondary-contrast {
    color: #000;
  }
}
@media screen and (max-width: 375px) {
  .txt-s-primary {
    color: #aa0601;
  }
  .txt-s-primary-contrast {
    color: #ffffff;
  }
  .txt-s-secondary {
    color: #650300;
  }
  .txt-s-secondary-contrast {
    color: #000;
  }
}

.bg-primary {
  background-color: #aa0601;
}
.bg-secondary {
  background-color: #650300;
}

.d-flex {
  display: flex;
}
.d-inline-block {
  display: inline-block;
}
.d-block {
  display: block;
}
@media screen and (max-width: 768px) {
  .d-m-flex {
    display: flex;
  }
  .d-m-inline-block {
    display: inline-block;
  }
  .d-m-block {
    display: block;
  }
}
@media screen and (max-width: 375px) {
  .d-s-flex {
    display: flex;
  }
  .d-s-inline-block {
    display: inline-block;
  }
  .d-s-block {
    display: block;
  }
}

.flex-row {
  flex-direction: row;
}
.flex-row-reverse {
  flex-direction: row-reverse;
}
.flex-column {
  flex-direction: column;
}
.flex-column-reverse {
  flex-direction: column-reverse;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-no-wrap {
  flex-wrap: nowrap;
}
@media screen and (max-width: 768px) {
  .flex-m-row {
    flex-direction: row;
  }
  .flex-m-row-reverse {
    flex-direction: row-reverse;
  }
  .flex-m-column {
    flex-direction: column;
  }
  .flex-m-column-reverse {
    flex-direction: column-reverse;
  }
  .flex-m-wrap {
    flex-wrap: wrap;
  }
  .flex-m-no-wrap {
    flex-wrap: nowrap;
  }
}
@media screen and (max-width: 375px) {
  .flex-s-row {
    flex-direction: row;
  }
  .flex-s-row-reverse {
    flex-direction: row-reverse;
  }
  .flex-s-column {
    flex-direction: column;
  }
  .flex-s-column-reverse {
    flex-direction: column-reverse;
  }
  .flex-s-wrap {
    flex-wrap: wrap;
  }
  .flex-s-no-wrap {
    flex-wrap: nowrap;
  }
}

.justify-start {
  justify-content: start;
}
.justify-end {
  justify-content: end;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .justify-m-start {
    justify-content: start;
  }
  .justify-m-end {
    justify-content: end;
  }
  .justify-m-center {
    justify-content: center;
  }
  .justify-m-between {
    justify-content: space-between;
  }
}
@media screen and (max-width: 375px) {
  .justify-s-start {
    justify-content: start;
  }
  .justify-s-end {
    justify-content: end;
  }
  .justify-s-center {
    justify-content: center;
  }
  .justify-s-between {
    justify-content: space-between;
  }
}

.align-items-start {
  align-items: start;
}
.align-items-end {
  align-items: end;
}
.align-items-center {
  align-items: center;
}
.align-items-between {
  align-items: space-between;
}
@media screen and (max-width: 768px) {
  .align-items-m-start {
    align-items: start;
  }
  .align-items-m-end {
    align-items: end;
  }
  .align-items-m-center {
    align-items: center;
  }
  .align-items-m-between {
    align-items: space-between;
  }
}
@media screen and (max-width: 375px) {
  .align-items-s-start {
    align-items: start;
  }
  .align-items-s-end {
    align-items: end;
  }
  .align-items-s-center {
    align-items: center;
  }
  .align-items-s-between {
    align-items: space-between;
  }
}

.w-25 {
  width: 25%;
}

.h-25 {
  height: 25%;
}

.w-50 {
  width: 50%;
}

.h-50 {
  height: 50%;
}

.w-75 {
  width: 75%;
}

.h-75 {
  height: 75%;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

@media screen and (max-width: 768px) {
  .w-m-25 {
    width: 25%;
  }

  .h-m-25 {
    height: 25%;
  }

  .w-m-50 {
    width: 50%;
  }

  .h-m-50 {
    height: 50%;
  }

  .w-m-75 {
    width: 75%;
  }

  .h-m-75 {
    height: 75%;
  }

  .w-m-100 {
    width: 100%;
  }

  .h-m-100 {
    height: 100%;
  }
}
@media screen and (max-width: 375px) {
  .w-s-25 {
    width: 25%;
  }

  .h-s-25 {
    height: 25%;
  }

  .w-s-50 {
    width: 50%;
  }

  .h-s-50 {
    height: 50%;
  }

  .w-s-75 {
    width: 75%;
  }

  .h-s-75 {
    height: 75%;
  }

  .w-s-100 {
    width: 100%;
  }

  .h-s-100 {
    height: 100%;
  }
}