/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&family=Roboto:wght@400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700;900&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a:link,
a:visited {
  color: inherit;
  text-decoration: none;
}

body {
  font-family: "Roboto", "Noto Sans TC", sans-serif;
}

.fz-14 {
  font-size: 14px;
  line-height: 1.5;
}

.fz-16 {
  font-size: 16px;
  line-height: 1.5;
}

.fz-18 {
  font-size: 18px;
  line-height: 1.5;
}

.fz-20 {
  font-size: 20px;
  line-height: 1.5;
}

.fz-24 {
  font-size: 24px;
  line-height: 1.5;
}

.fz-32 {
  font-size: 32px;
  line-height: 1.5;
}

.fz-36 {
  font-size: 36px;
  line-height: 1.5;
}

.fz-42 {
  font-size: 42px;
  line-height: 1.5;
}

.fz-48 {
  font-size: 48px;
  line-height: 1.5;
}

.fz-64 {
  font-size: 64px;
  line-height: 1.5;
}

.fz-72 {
  font-size: 72px;
  line-height: 1.5;
}

@media (max-width: 768px) {
  .fz-m-14 {
    font-size: 14px;
    line-height: 1.5;
  }

  .fz-m-16 {
    font-size: 16px;
    line-height: 1.5;
  }

  .fz-m-20 {
    font-size: 20px;
    line-height: 1.5;
  }

  .fz-m-24 {
    font-size: 24px;
    line-height: 1.5;
  }

  .fz-m-28 {
    font-size: 28px;
    line-height: 1.5;
  }

  .fz-m-32 {
    font-size: 32px;
    line-height: 1.5;
  }

  .fz-m-36 {
    font-size: 36px;
    line-height: 1.5;
  }

  .fz-m-48 {
    font-size: 48px;
    line-height: 1.5;
  }

  .lh-m-25 {
    line-height: 25px;
  }
}
@media (max-width: 375px) {
  .fz-s-11 {
    font-size: 11px;
    line-height: 1.5;
  }

  .fz-s-14 {
    font-size: 14px;
    line-height: 1.5;
  }

  .fz-s-16 {
    font-size: 16px;
    line-height: 1.5;
  }

  .fz-s-20 {
    font-size: 20px;
    line-height: 1.5;
  }

  .fz-s-24 {
    font-size: 24px;
    line-height: 1.5;
  }

  .fz-s-28 {
    font-size: 28px;
    line-height: 1.5;
  }

  .fz-s-32 {
    font-size: 32px;
    line-height: 1.5;
  }

  .lh-s-19 {
    line-height: 19px;
  }

  .lh-s-25 {
    line-height: 25px;
  }

  .lh-s-30 {
    line-height: 30px;
  }

  .lh-s-36 {
    line-height: 36px;
  }

  .lh-s-48 {
    line-height: 48px;
  }

  .lh-s-72 {
    line-height: 72px;
  }
}
/* ----------------------------------------------------------------------------------------------------
Super Form Reset
A couple of things to watch out for:
- IE8: If a text input doesn't have padding on all sides or none the text won't be centered.
- The default border sizes on text inputs in all UAs seem to be slightly different. You're better off using custom borders.
- You NEED to set the font-size and family on all form elements
- Search inputs need to have their appearance reset and the box-sizing set to content-box to match other UAs
- You can style the upload button in webkit using ::-webkit-file-upload-button
- ::-webkit-file-upload-button selectors can't be used in the same selector as normal ones. FF and IE freak out.
- IE: You don't need to fake inline-block with labels and form controls in IE. They function as inline-block.
- By turning off ::-webkit-search-decoration, it removes the extra whitespace on the left on search inputs
----------------------------------------------------------------------------------------------------*/
input,
label,
select,
button,
textarea {
  margin: 0;
  border: 0;
  padding: 0;
  display: inline-block;
  vertical-align: middle;
  white-space: normal;
  background: none;
  font-family: inherit;
}

/* Remove the stupid outer glow in Webkit */
input:focus {
  outline: 0;
}

/* Box Sizing Reset
-----------------------------------------------*/
/* All of our custom controls should be what we expect them to be */
input,
textarea {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

/* These elements are usually rendered a certain way by the browser */
button,
input[type=reset],
input[type=button],
input[type=submit],
input[type=checkbox],
input[type=radio],
select {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* Text Inputs
-----------------------------------------------*/
/* Button Controls
-----------------------------------------------*/
/* File Uploads
-----------------------------------------------*/
/* Search Input
-----------------------------------------------*/
/* Make webkit render the search input like a normal text field */
input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
}

/* Turn off the recent search for webkit. It adds about 15px padding on the left */
::-webkit-search-decoration {
  display: none;
}

/* Buttons
-----------------------------------------------*/
button,
input[type=reset],
input[type=button],
input[type=submit] {
  /* Fix IE7 display bug */
  overflow: visible;
  width: auto;
}

button {
  display: block;
}

/* IE8 and FF freak out if this rule is within another selector */
::-webkit-file-upload-button {
  padding: 0;
  border: 0;
  background: none;
}

/* Textarea
-----------------------------------------------*/
textarea {
  /* Move the label to the top */
  vertical-align: top;
  /* Turn off scroll bars in IE unless needed */
  overflow: auto;
}

/* Selects
-----------------------------------------------*/
select[multiple] {
  /* Move the label to the top */
  vertical-align: top;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
}
.container, .container--modify, .container--form {
  padding: 0 20px;
}
.container--modify {
  max-width: 1063px;
  margin: 0 auto;
}
.container--form {
  max-width: 730px;
  margin: 0 auto;
}
.container--nav {
  max-width: 1386px;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 690px;
  }
  .container, .container--modify, .container--form {
    padding: 0;
  }
  .container--modify {
    max-width: 597px;
  }
  .container--form {
    max-width: 450px;
    margin: 0 auto;
  }
}
@media screen and (max-width: 375px) {
  .container, .container--form {
    max-width: 345px;
  }
  .container--modify {
    max-width: 237px;
  }
}
.navbar {
  padding: 30px 88px;
}

.navList__item {
  height: fit-content;
  margin: 0 32px;
}
.navList__item:first-child {
  margin-left: 0;
}
.navList__item:last-child {
  margin-right: 0;
}

@media screen and (max-width: 768px) {
  .navbar {
    padding: 30px 39px;
  }

  .navList__item {
    margin: 0 10px;
  }
}
@media screen and (max-width: 375px) {
  .navbar {
    padding: 0;
  }

  .logo {
    width: fit-content;
    margin: 0 auto;
    padding: 10px 0;
  }

  .navList__item {
    width: 50%;
    box-sizing: border-box;
    border: 1px solid #ffffff;
    margin: 0;
    padding: 8px 0;
  }
}
.cover {
  background-image: url("../../src/img/banner.png"), url("../src/img/banner.png");
  box-sizing: border-box;
  height: 840px;
  margin-bottom: 64px;
}

@media screen and (max-width: 768px) {
  .cover {
    background-image: url("../../src/img/banner-sm.png"), url("../src/img/banner-sm.png");
    margin-bottom: 40px;
  }
  .cover__container {
    margin-left: 38.671875%;
  }
  .cover__subTitle {
    margin-left: 140px;
  }
}
@media screen and (max-width: 375px) {
  .cover {
    background-size: cover;
    background-position: center center;
    height: 394px;
    margin-bottom: 32px;
  }
  .cover__container {
    margin-left: 19.2%;
  }
  .cover__subTitle {
    margin-left: 54px;
  }
}
.intro {
  color: #650300;
  margin-bottom: 144px;
}
.intro__title {
  margin-bottom: 60px;
}
.intro__list {
  display: flex;
  justify-content: space-between;
}
.intro__list__item {
  width: 20%;
}
.intro__list__item--order {
  order: 0;
}
.intro__icon {
  width: 100px;
  height: 100px;
  margin-bottom: 40px;
}
.intro__subTitle {
  margin-bottom: 4px;
}

@media screen and (max-width: 768px) {
  .intro {
    margin-bottom: 80px;
  }
  .intro__container {
    width: 77.8645833333%;
  }
  .intro__title {
    margin-bottom: 32px;
  }
  .intro__list {
    flex-wrap: wrap;
  }
  .intro__list__item {
    width: 40%;
    margin-bottom: 40px;
  }
  .intro__list__item--order {
    order: 1;
  }
  .intro__icon {
    width: 80px;
    height: 80px;
    margin-bottom: 16px;
  }
  .intro__subTitle {
    margin-bottom: 8px;
  }
}
@media screen and (max-width: 375px) {
  .intro {
    margin-bottom: 84px;
  }
  .intro__title {
    margin-bottom: 20px;
  }
  .intro__list {
    flex-direction: column;
  }
  .intro__list__item {
    width: 100%;
  }
  .intro__list__item:last-child {
    margin-bottom: 0;
  }
}
.product__title {
  margin-bottom: 50px;
}
.product__list__item {
  margin-bottom: 32px;
}
.product__list__item:last-child {
  margin-bottom: 80px;
}
.product__list__cover {
  max-width: 635px;
}
.product__list__cover img {
  width: 100%;
}
.product__list__link {
  margin: 0 30px;
}
.product__list__title {
  margin-left: 8px;
}
.product__icon {
  width: 48px;
  height: 48px;
}

@media screen and (max-width: 768px) {
  .product__container {
    width: 100%;
  }
  .product__title {
    margin-bottom: 32px;
  }
  .product__list {
    margin-left: 39px;
  }
  .product__list__item {
    margin-bottom: 8px;
  }
  .product__list__item:last-child {
    margin-bottom: 40px;
  }
  .product__list__cover {
    width: 390px;
    height: 168px;
  }
  .product__list__link {
    margin: 0 0 0 30px;
  }
  .product__icon {
    width: 32px;
    height: 32px;
  }
}
@media screen and (max-width: 375px) {
  .product__title {
    margin-bottom: 20px;
  }
  .product__list {
    margin: 0;
  }
  .product__list__item {
    position: relative;
  }
  .product__list__item:last-child {
    margin-bottom: 32px;
  }
  .product__list__cover {
    width: 100%;
    height: 134px;
  }
  .product__list__link {
    position: absolute;
    width: 100%;
    margin: 0;
  }
}
.coBrand {
  width: 100%;
  height: 743px;
  background-image: url("../../src/img/bg.png"), url("../src/img/bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  box-sizing: border-box;
  padding-top: 64px;
  margin-bottom: 64px;
}
.coBrand__title {
  margin-bottom: 60px;
}
.coBrand__brand {
  position: relative;
}
.coBrand__brand__name {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}
.coBrand__brand__cover {
  width: 100%;
  max-width: 540px;
  object-fit: cover;
}

@media screen and (max-width: 768px) {
  .coBrand {
    height: 437px;
    padding-top: 40px;
    margin-bottom: 40px;
  }
  .coBrand__title {
    margin-bottom: 32px;
  }
  .coBrand__brand__cover {
    width: 330px;
    height: 280px;
  }
}
@media screen and (max-width: 375px) {
  .coBrand {
    height: 696px;
    padding-top: 32px;
    margin-bottom: 32px;
  }
  .coBrand__title {
    margin-bottom: 20px;
  }
  .coBrand__brand {
    margin-bottom: 16px;
  }
  .coBrand__brand__cover {
    width: 100%;
    height: 284px;
  }
}
.opinion__title {
  margin-bottom: 60px;
}
.opinion__list {
  margin-bottom: 143px;
}
.opinion .customer {
  width: 22.972972973%;
}
.opinion .customer__portrait {
  position: relative;
  width: 100%;
  padding-top: 100%;
  box-sizing: border-box;
  height: 0;
  margin-bottom: 14px;
}
.opinion .customer__portrait img {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.opinion .customer__name {
  margin-bottom: 7px;
}
.opinion .customer__opinion {
  margin-bottom: 10px;
}
@media (max-width: 768px) {
  .opinion__title {
    margin-bottom: 32px;
  }
  .opinion__list {
    margin-bottom: 53px;
  }
  .opinion .customer {
    width: 330px;
    margin-bottom: 44px;
  }
  .opinion .customer__portrait, .opinion .customer__name, .opinion .customer__opinion {
    margin-bottom: 16px;
  }
}
@media (max-width: 375px) {
  .opinion__title {
    margin-bottom: 20px;
  }
  .opinion__list {
    margin-bottom: 80px;
  }
  .opinion .customer {
    width: 100%;
    margin-bottom: 32px;
  }
  .opinion .customer:last-child {
    margin-bottom: 0;
  }
}
.contact {
  margin-bottom: 80px;
}
.contact__title {
  margin-bottom: 24px;
}
.contact__subtitle {
  margin-bottom: 20px;
}
.contact__privacy {
  margin-bottom: 42px;
}
.contact__button {
  width: 350px;
  padding: 16px 0;
  margin: 0 auto;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .contact {
    margin-bottom: 40px;
  }
  .contact__title {
    margin-bottom: 16px;
  }
  .contact__subtitle {
    margin-bottom: 12px;
  }
  .contact__privacy {
    margin-bottom: 20px;
  }
  .contact__button {
    width: 210px;
    padding: 8px 0;
  }
}
@media screen and (max-width: 768px) {
  .contact__button {
    width: 165px;
  }
}
.footer__top {
  border-bottom: 1px solid #ffffff;
}
.footer__left {
  padding-top: 48px;
}
.footer__nav {
  margin-bottom: 32px;
}
.footer__nav li {
  margin-right: 48px;
}
.footer__contact li {
  margin-bottom: 20px;
}
.footer__contact__icon {
  width: 48px;
  height: 48px;
  margin-right: 17px;
}
.footer__right {
  padding-top: 36px;
}
.footer__social__icon {
  margin-left: 32px;
  width: 48px;
  height: 48px;
}
.footer__bottom {
  padding-top: 24px;
  padding-bottom: 28px;
}
.footer__logo {
  margin-right: 38px;
}
.footer__policy__list li {
  margin-left: 62px;
}

@media screen and (max-width: 768px) {
  .footer__left {
    padding-top: 40px;
  }
  .footer__nav {
    margin-bottom: 24px;
  }
  .footer__nav li {
    margin-right: 40px;
  }
  .footer__contact li {
    margin-bottom: 8px;
  }
  .footer__contact li:last-child {
    margin-bottom: 24px;
  }
  .footer__contact__icon {
    margin-right: 8px;
    width: 32px;
    height: 32px;
  }
  .footer__right {
    padding-top: 36px;
  }
  .footer__social__icon {
    margin-left: 24px;
    width: 24px;
    height: 24px;
  }
  .footer__bottom {
    padding-bottom: 40px;
  }
  .footer__logo {
    display: none;
  }
  .footer__policy__list li {
    margin-left: 24px;
  }
}
@media screen and (max-width: 375px) {
  .footer__left {
    padding-top: 23px;
  }
  .footer__nav {
    display: none !important;
  }
  .footer__contact__icon {
    width: 20px;
    height: 20px;
  }
  .footer__right {
    padding-top: 24px;
  }
  .footer__bottom {
    padding-top: 18px;
    padding-bottom: 21px;
  }
  .footer__logo {
    display: block;
    margin-right: 0;
    width: 46px;
    object-fit: cover;
  }
  .footer__copyright {
    margin-bottom: 7px;
  }
  .footer__policy__list li {
    margin-left: 0;
    margin-bottom: 8px;
  }
  .footer__policy__list:last-child {
    margin-bottom: 4px;
  }
}
.productCover {
  height: 309px;
  margin-bottom: 88px;
}
.productCover__left.productOptical {
  background-image: url("../../src/img/banner-1.png"), url("../src/img/banner-1.png");
}
.productCover__left.productSun {
  background-image: url("../../src/img/banner-3.png"), url("../src/img/banner-3.png");
}
.productCover__right.productOptical {
  background-image: url("../../src/img/banner-2.png"), url("../src/img/banner-2.png");
}
.productCover__right.productSun {
  background-image: url("../../src/img/banner-4.png"), url("../src/img/banner-4.png");
}
.productCover__left, .productCover__right {
  height: 100%;
  width: 945px;
  max-width: 50%;
  background-size: cover;
  background-position: center center;
}

@media screen and (max-width: 768px) {
  .productCover {
    margin-bottom: 40px;
  }
  .productCover__left.productOptical {
    background-image: url("../../src/img/banner-1-sm.jpg"), url("../src/img/banner-1-sm.png");
  }
  .productCover__left.productSun {
    background-image: url("../../src/img/banner-3-sm.png"), url("../src/img/banner-3-sm.png");
  }
  .productCover__right.productOptical {
    background-image: url("../../src/img/banner-2-sm.jpg"), url("../src/img/banner-2-sm.png");
  }
  .productCover__right.productSun {
    background-image: url("../../src/img/banner-4-sm.png"), url("../src/img/banner-4-sm.png");
  }
}
@media screen and (max-width: 375px) {
  .productCover {
    height: 144px;
    margin-bottom: 30px;
  }
}
.productDisplay {
  margin-bottom: 156px;
}
.productDisplay__list {
  margin-left: -15px;
  margin-right: -15px;
  margin-bottom: 100px;
}
.productDisplay__title {
  padding-bottom: 40px;
}
.productDisplay__item {
  box-sizing: border-box;
  padding: 0 15px;
}
.productDisplay__item:first-child:nth-last-child(3n+0), .productDisplay__item:first-child:nth-last-child(3n+0) ~ .productDisplay__item {
  width: 33.33333%;
  margin-bottom: 112px;
}
.productDisplay__item:first-child:nth-last-child(3n+0) .productDisplay__name, .productDisplay__item:first-child:nth-last-child(3n+0) ~ .productDisplay__item .productDisplay__name {
  display: flex;
  flex-direction: column;
}
.productDisplay__item:first-child:nth-last-child(3n+0) .productDisplay__cover, .productDisplay__item:first-child:nth-last-child(3n+0) ~ .productDisplay__item .productDisplay__cover {
  height: 224px;
}
.productDisplay__item:first-child:nth-last-child(4n+0), .productDisplay__item:first-child:nth-last-child(4n+0) ~ .productDisplay__item {
  width: 25%;
  margin-bottom: 104px;
}
.productDisplay__item:first-child:nth-last-child(4n+0) .productDisplay__name, .productDisplay__item:first-child:nth-last-child(4n+0) ~ .productDisplay__item .productDisplay__name {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.productDisplay__item:first-child:nth-last-child(4n+0) .productDisplay__cover, .productDisplay__item:first-child:nth-last-child(4n+0) ~ .productDisplay__item .productDisplay__cover {
  height: 164px;
}
.productDisplay__item:nth-last-child(4), .productDisplay__item:nth-last-child(4) ~ .productDisplay__item {
  margin-bottom: 0 !important;
}
.productDisplay__cover {
  width: 100%;
  object-fit: cover;
}
.productDisplay__color {
  width: 24px;
  height: 24px;
  border-radius: 4px;
  margin-right: 8px;
}

@media screen and (max-width: 768px) {
  .productDisplay {
    margin-bottom: 104px;
  }
  .productDisplay__title {
    padding-bottom: 32px;
  }
  .productDisplay__list {
    margin-bottom: 105px;
  }
  .productDisplay__item {
    width: 50% !important;
    margin-bottom: 72px !important;
  }
  .productDisplay__item .productDisplay__name {
    flex-direction: row !important;
    justify-content: space-between !important;
  }
  .productDisplay__item:nth-last-child(4), .productDisplay__item:nth-last-child(4) ~ .productDisplay__item {
    margin-bottom: 72px !important;
  }
}
@media screen and (max-width: 375px) {
  .productDisplay {
    margin-bottom: 56px;
  }
  .productDisplay__title {
    padding-bottom: 20px;
  }
  .productDisplay__list {
    margin-bottom: 40px;
  }
  .productDisplay__cover {
    height: 166px;
  }
  .productDisplay__item {
    width: 100% !important;
    margin-bottom: 32px !important;
  }
  .productDisplay__item:nth-last-child(4), .productDisplay__item:nth-last-child(4) ~ .productDisplay__item {
    margin-bottom: 32px !important;
  }
}
.form-group {
  margin-bottom: 16px;
}
.form-group label {
  display: block;
  margin-bottom: 4px;
}
.form-control {
  border: 1px solid #000000;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 14px 16px;
  resize: none;
}
.form-check {
  display: flex;
  align-items: center;
}
.form-check-input {
  width: 24px;
  height: 24px;
  margin-right: 4px;
}

@media screen and (max-width: 768px) {
  .form-group {
    margin-bottom: 8px;
  }
  .form-group label {
    margin-bottom: 2px;
  }
  .form-control {
    padding: 18px 12px;
    resize: none;
  }
  .form-check {
    align-items: flex-start;
  }
  .form-check-input {
    width: 18px;
    height: 18px;
  }
}
.pagination {
  width: fit-content;
  margin: 0 auto;
}
.pagination__item {
  padding: 10px 12px;
  border: 1px solid #555555;
}
.pagination__item.selected {
  background-color: black;
  color: white;
}

@media screen and (max-width: 768px) {
  .pagination__item {
    padding: 10px 15px;
  }
}
@media screen and (max-width: 375px) {
  .pagination__item {
    padding: 10px 9px;
  }
}
.categoryNav__item {
  position: relative;
  padding: 24px 0;
  width: 33.333%;
}
.categoryNav__item.selected::after {
  position: absolute;
  bottom: 0;
  content: "";
  display: block;
  width: 100%;
  height: 16px;
  background-color: #aa0601;
}
.categoryNav__title {
  margin-left: 8px;
}

@media screen and (max-width: 768px) {
  .categoryNav__item {
    position: relative;
    padding: 16px 0;
  }
  .categoryNav__item.selected::after {
    height: 8px;
  }
}
@media screen and (max-width: 375px) {
  .categoryNav .product__icon {
    width: 14px;
    height: 14px;
  }
}
.txt-left {
  text-align: left;
}
.txt-right {
  text-align: right;
}
.txt-center {
  text-align: center;
}
.txt-italic {
  font-style: italic;
}
.txt-uppercase {
  text-transform: uppercase;
}
@media (max-width: 768px) {
  .txt-m-left {
    text-align: left;
  }
  .txt-m-right {
    text-align: right;
  }
  .txt-m-center {
    text-align: center;
  }
  .txt-m-italic {
    font-style: italic;
  }
  .txt-m-uppercase {
    text-transform: uppercase;
  }
}
@media (max-width: 375px) {
  .txt-s-left {
    text-align: left;
  }
  .txt-s-right {
    text-align: right;
  }
  .txt-s-center {
    text-align: center;
  }
  .txt-s-italic {
    font-style: italic;
  }
  .txt-s-uppercase {
    text-transform: uppercase;
  }
}

.fw-regular {
  font-weight: 400;
}
.fw-medium {
  font-weight: 500;
}
.fw-bold {
  font-weight: 700;
}
.fw-black {
  font-weight: 900;
}
@media (max-width: 768px) {
  .fw-m-regular {
    font-weight: 400;
  }
  .fw-m-medium {
    font-weight: 500;
  }
  .fw-m-bold {
    font-weight: 700;
  }
  .fw-m-black {
    font-weight: 900;
  }
}
@media (max-width: 375px) {
  .fw-s-regular {
    font-weight: 400;
  }
  .fw-s-medium {
    font-weight: 500;
  }
  .fw-s-bold {
    font-weight: 700;
  }
  .fw-s-black {
    font-weight: 900;
  }
}

.txt-primary {
  color: #aa0601;
}
.txt-primary-contrast {
  color: #ffffff;
}
.txt-secondary {
  color: #650300;
}
.txt-secondary-contrast {
  color: #000;
}
@media (max-width: 768px) {
  .txt-m-primary {
    color: #aa0601;
  }
  .txt-m-primary-contrast {
    color: #ffffff;
  }
  .txt-m-secondary {
    color: #650300;
  }
  .txt-m-secondary-contrast {
    color: #000;
  }
}
@media (max-width: 375px) {
  .txt-s-primary {
    color: #aa0601;
  }
  .txt-s-primary-contrast {
    color: #ffffff;
  }
  .txt-s-secondary {
    color: #650300;
  }
  .txt-s-secondary-contrast {
    color: #000;
  }
}

.bg-primary {
  background-color: #aa0601;
}
.bg-primary-contrast {
  background-color: #ffffff;
}
.bg-secondary {
  background-color: #650300;
}
.bg-secondary-contrast {
  background-color: #000;
}
@media (max-width: 768px) {
  .bg-m-primary {
    background-color: #aa0601;
  }
  .bg-m-primary-contrast {
    background-color: #ffffff;
  }
  .bg-m-secondary {
    background-color: #650300;
  }
  .bg-m-secondary-contrast {
    background-color: #000;
  }
}
@media (max-width: 375px) {
  .bg-s-primary {
    background-color: #aa0601;
  }
  .bg-s-primary-contrast {
    background-color: #ffffff;
  }
  .bg-s-secondary {
    background-color: #650300;
  }
  .bg-s-secondary-contrast {
    background-color: #000;
  }
}
.bg-option-chocolate {
  background-color: #5f3e2d;
}
.bg-option-brown {
  background-color: #b75929;
}

.icon-primary {
  fill: #aa0601;
}
.icon-primary-contrast {
  fill: #ffffff;
}
.icon-secondary {
  fill: #650300;
}
.icon-secondary-contrast {
  fill: #000;
}
@media (max-width: 768px) {
  .icon-m-primary {
    fill: #aa0601;
  }
  .icon-m-primary-contrast {
    fill: #ffffff;
  }
  .icon-m-secondary {
    fill: #650300;
  }
  .icon-m-secondary-contrast {
    fill: #000;
  }
}
@media (max-width: 375px) {
  .icon-s-primary {
    fill: #aa0601;
  }
  .icon-s-primary-contrast {
    fill: #ffffff;
  }
  .icon-s-secondary {
    fill: #650300;
  }
  .icon-s-secondary-contrast {
    fill: #000;
  }
}

.d-flex {
  display: flex;
}
.d-inline-block {
  display: inline-block;
}
.d-block {
  display: block;
}
@media (max-width: 768px) {
  .d-m-flex {
    display: flex;
  }
  .d-m-inline-block {
    display: inline-block;
  }
  .d-m-block {
    display: block;
  }
}
@media (max-width: 375px) {
  .d-s-flex {
    display: flex;
  }
  .d-s-inline-block {
    display: inline-block;
  }
  .d-s-block {
    display: block;
  }
}

.flex-row {
  flex-direction: row;
}
.flex-row-reverse {
  flex-direction: row-reverse;
}
.flex-column {
  flex-direction: column;
}
.flex-column-reverse {
  flex-direction: column-reverse;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-no-wrap {
  flex-wrap: nowrap;
}
.flex-fill {
  flex: 1;
}
@media (max-width: 768px) {
  .flex-m-row {
    flex-direction: row;
  }
  .flex-m-row-reverse {
    flex-direction: row-reverse;
  }
  .flex-m-column {
    flex-direction: column;
  }
  .flex-m-column-reverse {
    flex-direction: column-reverse;
  }
  .flex-m-wrap {
    flex-wrap: wrap;
  }
  .flex-m-no-wrap {
    flex-wrap: nowrap;
  }
  .flex-m-fill {
    flex: 1;
  }
}
@media (max-width: 375px) {
  .flex-s-row {
    flex-direction: row;
  }
  .flex-s-row-reverse {
    flex-direction: row-reverse;
  }
  .flex-s-column {
    flex-direction: column;
  }
  .flex-s-column-reverse {
    flex-direction: column-reverse;
  }
  .flex-s-wrap {
    flex-wrap: wrap;
  }
  .flex-s-no-wrap {
    flex-wrap: nowrap;
  }
  .flex-s-fill {
    flex: 1;
  }
}

.justify-start {
  justify-content: start;
}
.justify-end {
  justify-content: end;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
@media (max-width: 768px) {
  .justify-m-start {
    justify-content: start;
  }
  .justify-m-end {
    justify-content: end;
  }
  .justify-m-center {
    justify-content: center;
  }
  .justify-m-between {
    justify-content: space-between;
  }
}
@media (max-width: 375px) {
  .justify-s-start {
    justify-content: start;
  }
  .justify-s-end {
    justify-content: end;
  }
  .justify-s-center {
    justify-content: center;
  }
  .justify-s-between {
    justify-content: space-between;
  }
}

.align-items-start {
  align-items: flex-start;
}
.align-items-end {
  align-items: flex-end;
}
.align-items-center {
  align-items: center;
}
.align-items-between {
  align-items: space-between;
}
@media (max-width: 768px) {
  .align-items-m-start {
    align-items: flex-start;
  }
  .align-items-m-end {
    align-items: flex-end;
  }
  .align-items-m-center {
    align-items: center;
  }
  .align-items-m-between {
    align-items: space-between;
  }
}
@media (max-width: 375px) {
  .align-items-s-start {
    align-items: flex-start;
  }
  .align-items-s-end {
    align-items: flex-end;
  }
  .align-items-s-center {
    align-items: center;
  }
  .align-items-s-between {
    align-items: space-between;
  }
}

.w-20 {
  width: 20%;
}

.h-20 {
  height: 20%;
}

.w-25 {
  width: 25%;
}

.h-25 {
  height: 25%;
}

.w-40 {
  width: 40%;
}

.h-40 {
  height: 40%;
}

.w-50 {
  width: 50%;
}

.h-50 {
  height: 50%;
}

.w-75 {
  width: 75%;
}

.h-75 {
  height: 75%;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

@media (max-width: 768px) {
  .w-m-20 {
    width: 20%;
  }

  .h-m-20 {
    height: 20%;
  }

  .w-m-25 {
    width: 25%;
  }

  .h-m-25 {
    height: 25%;
  }

  .w-m-40 {
    width: 40%;
  }

  .h-m-40 {
    height: 40%;
  }

  .w-m-50 {
    width: 50%;
  }

  .h-m-50 {
    height: 50%;
  }

  .w-m-75 {
    width: 75%;
  }

  .h-m-75 {
    height: 75%;
  }

  .w-m-100 {
    width: 100%;
  }

  .h-m-100 {
    height: 100%;
  }
}
@media (max-width: 375px) {
  .w-s-20 {
    width: 20%;
  }

  .h-s-20 {
    height: 20%;
  }

  .w-s-25 {
    width: 25%;
  }

  .h-s-25 {
    height: 25%;
  }

  .w-s-40 {
    width: 40%;
  }

  .h-s-40 {
    height: 40%;
  }

  .w-s-50 {
    width: 50%;
  }

  .h-s-50 {
    height: 50%;
  }

  .w-s-75 {
    width: 75%;
  }

  .h-s-75 {
    height: 75%;
  }

  .w-s-100 {
    width: 100%;
  }

  .h-s-100 {
    height: 100%;
  }
}
.rounded {
  border: 50%;
}
.rounded-circle {
  border-radius: 50%;
}

.pt-5 {
  padding-top: 5px !important;
}

.pt-10 {
  padding-top: 10px !important;
}

.pt-15 {
  padding-top: 15px !important;
}

.pt-20 {
  padding-top: 20px !important;
}

.pt-25 {
  padding-top: 25px !important;
}

.pb-5 {
  padding-bottom: 5px !important;
}

.pb-10 {
  padding-bottom: 10px !important;
}

.pb-15 {
  padding-bottom: 15px !important;
}

.pb-20 {
  padding-bottom: 20px !important;
}

.pb-25 {
  padding-bottom: 25px !important;
}

.pl-5 {
  padding-left: 5px !important;
}

.pl-10 {
  padding-left: 10px !important;
}

.pl-15 {
  padding-left: 15px !important;
}

.pl-20 {
  padding-left: 20px !important;
}

.pl-25 {
  padding-left: 25px !important;
}

.pr-5 {
  padding-right: 5px !important;
}

.pr-10 {
  padding-right: 10px !important;
}

.pr-15 {
  padding-right: 15px !important;
}

.pr-20 {
  padding-right: 20px !important;
}

.pr-25 {
  padding-right: 25px !important;
}

.mt-5 {
  margin-top: 5px !important;
}

.mt-10 {
  margin-top: 10px !important;
}

.mt-15 {
  margin-top: 15px !important;
}

.mt-20 {
  margin-top: 20px !important;
}

.mt-25 {
  margin-top: 25px !important;
}

.mb-5 {
  margin-bottom: 5px !important;
}

.mb-10 {
  margin-bottom: 10px !important;
}

.mb-15 {
  margin-bottom: 15px !important;
}

.mb-20 {
  margin-bottom: 20px !important;
}

.mb-25 {
  margin-bottom: 25px !important;
}

.ml-5 {
  margin-left: 5px !important;
}

.ml-10 {
  margin-left: 10px !important;
}

.ml-15 {
  margin-left: 15px !important;
}

.ml-20 {
  margin-left: 20px !important;
}

.ml-25 {
  margin-left: 25px !important;
}

.mr-5 {
  margin-right: 5px !important;
}

.mr-10 {
  margin-right: 10px !important;
}

.mr-15 {
  margin-right: 15px !important;
}

.mr-20 {
  margin-right: 20px !important;
}

.mr-25 {
  margin-right: 25px !important;
}