/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&family=Roboto:wght@400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700;900&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.pt-5 {
  padding-top: 5px !important;
}

.pt-10 {
  padding-top: 10px !important;
}

.pt-15 {
  padding-top: 15px !important;
}

.pt-20 {
  padding-top: 20px !important;
}

.pt-25 {
  padding-top: 25px !important;
}

.pb-5 {
  padding-bottom: 5px !important;
}

.pb-10 {
  padding-bottom: 10px !important;
}

.pb-15 {
  padding-bottom: 15px !important;
}

.pb-20 {
  padding-bottom: 20px !important;
}

.pb-25 {
  padding-bottom: 25px !important;
}

.pl-5 {
  padding-left: 5px !important;
}

.pl-10 {
  padding-left: 10px !important;
}

.pl-15 {
  padding-left: 15px !important;
}

.pl-20 {
  padding-left: 20px !important;
}

.pl-25 {
  padding-left: 25px !important;
}

.pr-5 {
  padding-right: 5px !important;
}

.pr-10 {
  padding-right: 10px !important;
}

.pr-15 {
  padding-right: 15px !important;
}

.pr-20 {
  padding-right: 20px !important;
}

.pr-25 {
  padding-right: 25px !important;
}

.mt-5 {
  margin-top: 5px !important;
}

.mt-10 {
  margin-top: 10px !important;
}

.mt-15 {
  margin-top: 15px !important;
}

.mt-20 {
  margin-top: 20px !important;
}

.mt-25 {
  margin-top: 25px !important;
}

.mb-5 {
  margin-bottom: 5px !important;
}

.mb-10 {
  margin-bottom: 10px !important;
}

.mb-15 {
  margin-bottom: 15px !important;
}

.mb-20 {
  margin-bottom: 20px !important;
}

.mb-25 {
  margin-bottom: 25px !important;
}

.ml-5 {
  margin-left: 5px !important;
}

.ml-10 {
  margin-left: 10px !important;
}

.ml-15 {
  margin-left: 15px !important;
}

.ml-20 {
  margin-left: 20px !important;
}

.ml-25 {
  margin-left: 25px !important;
}

.mr-5 {
  margin-right: 5px !important;
}

.mr-10 {
  margin-right: 10px !important;
}

.mr-15 {
  margin-right: 15px !important;
}

.mr-20 {
  margin-right: 20px !important;
}

.mr-25 {
  margin-right: 25px !important;
}

.robotoMedium {
  font-family: "Roboto";
  font-weight: 500;
}
.robotoBold {
  font-family: "Roboto";
  font-weight: 700;
}
.robotoBlack {
  font-family: "Roboto";
  font-weight: 900;
}

.notoSansRegular {
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 400;
}
.notoSansBold {
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 700;
}

.mainTitle {
  font-size: 64px;
  line-height: 1.5;
}

.title {
  font-size: 64px;
  line-height: 75px;
}

.subTitle {
  font-size: 36px;
  line-height: 1.5;
}

.description {
  font-size: 24px;
  line-height: 1.5;
}
.description:lang(zh-TW) {
  font-size: 20px;
  line-height: 1.5;
}

@media screen and (max-width: 768px) {
  .mainTitle {
    font-size: 48px;
  }

  .subTitle {
    font-size: 20px;
  }
}
@media screen and (max-width: 375px) {
  .mainTitle {
    font-size: 32px;
    line-height: 72px;
  }

  .subTitle {
    font-size: 16px;
    line-height: 30px;
  }
}
.navbar {
  background-color: #aa0601;
  padding: 30px 0;
}
.navbar__container {
  width: 90.8333333333%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.navList {
  display: flex;
}
.navList__item {
  display: flex;
  align-items: center;
  margin: 0 32px;
}
.navList__item a {
  color: #ffffff;
  text-decoration: none;
}
.navList__item:first-child {
  margin-left: 0;
}
.navList__item:last-child {
  margin-right: 0;
}

@media screen and (max-width: 375px) {
  .navbar {
    padding: 0;
  }
  .navbar__container {
    width: 100%;
    display: block;
  }

  .logo {
    width: fit-content;
    margin: 0 auto;
    padding: 10px 0;
  }

  .navList {
    flex-wrap: wrap;
  }
  .navList__item {
    box-sizing: border-box;
    border: 1px solid #ffffff;
    width: 50%;
    margin: 0;
  }
  .navList__item a {
    width: 100%;
    text-align: center;
    line-height: 44px;
  }
}
.cover {
  background-image: url(../../src/img/banner.png);
  box-sizing: border-box;
  height: 840px;
  padding-top: 350px;
  color: #650300;
}
.cover__container {
  margin-left: 48.90625%;
}
.cover__subTitle {
  margin-left: 63px;
}

@media screen and (max-width: 768px) {
  .cover {
    background-image: url(../../src/img/banner-sm.png);
    padding-top: 372px;
  }
  .cover__container {
    margin-left: 38.671875%;
  }
  .cover__subTitle {
    margin-left: 140px;
  }
}
@media screen and (max-width: 375px) {
  .cover {
    background-size: cover;
    background-position: center center;
    height: 394px;
    padding-top: 164px;
  }
  .cover__container {
    margin-left: 19.2%;
  }
  .cover__subTitle {
    margin-left: 54px;
  }
}