@import "../themes/theme";
@import "../base/media";

@mixin txt {
  &-primary {
    color: $primary-color;
  }

  &-primary-contrast {
    color: $primary-contrast-color;
  }

  &-secondary {
    color: $secondary-color;
  }

  &-secondary-contrast {
    color: $secondary-contrast-color;
  }
}

.txt {
  @include txt;

  @each $tag, $breakpoint in $breakpoints {
    @include media-query($breakpoint) {
      &-#{$tag} {
        @include txt;
      }
    }
  }
}

.bg {
  &-primary {
    background-color: $primary-color;
  }

  &-secondary {
    background-color: $secondary-color;
  }
}
