@import "../themes/theme";
@import "media";

.text {
  @each $theme, $color in $colors {
    &-#{$theme} {
      color: $color;
    }
  }

  @each $tag, $breakpoint in $breakpoints {
    @include media-query($breakpoint) {
      @each $theme, $color in $colors {
        &-#{$tag}-#{$theme} {
          color: $color;
        }
      }
    }
  }
}

.bg {
  @each $theme, $color in $colors {
    &-#{$theme} {
      background-color: $color;
    }
  }

  @each $tag, $breakpoint in $breakpoints {
    @include media-query($breakpoint) {
      @each $theme, $color in $colors {
        &-#{$tag}-#{$theme} {
          background-color: $color;
        }
      }
    }
  }

  &-option-chocolate {
    background-color: #5f3e2d;
  }

  &-option-brown {
    background-color: #b75929;
  }
}

.icon {
  @each $theme, $color in $colors {
    &-#{$theme} {
      fill: $color;
    }
  }

  @each $tag, $breakpoint in $breakpoints {
    @include media-query($breakpoint) {
      @each $theme, $color in $colors {
        &-#{$tag}-#{$theme} {
          fill: $color;
        }
      }
    }
  }
}
