.d {
  &-flex {
    display: flex;
  }
}

@mixin flex-direction {
  &-row {
    flex-direction: row;
    &-reverse {
      flex-direction: row-reverse;
    }
  }

  &-column {
    flex-direction: column;
    &-reverse {
      flex-direction: column-reverse;
    }
  }
}

@mixin flex-wrap {
  &-wrap {
    flex-wrap: wrap;
  }

  &-no-wrap {
    flex-wrap: nowrap;
  }
}

.flex {
  @include flex-direction;
  @include flex-wrap;

  @media screen and (max-width: 768px) {
    &-m {
      @include flex-direction;
      @include flex-wrap;
    }
  }

  @media screen and (max-width: 375px) {
    &-s {
      @include flex-direction;
      @include flex-wrap;
    }
  }
}

.justify {
  &-start {
    justify-content: start;
  }

  &-end {
    justify-content: end;
  }

  &-center {
    justify-content: center;
  }

  &-between {
    justify-content: space-between;
  }
}

.align-items {
  &-start {
    align-items: start;
  }

  &-end {
    align-items: end;
  }

  &-center {
    align-items: center;
  }

  &-between {
    align-items: space-between;
  }
}
