@import "../base/media";

@mixin display {
  &-flex {
    display: flex;
  }

  &-inline-block {
    display: inline-block;
  }

  &-block {
    display: block;
  }
}

@mixin flex-direction {
  &-row {
    flex-direction: row;
    &-reverse {
      flex-direction: row-reverse;
    }
  }

  &-column {
    flex-direction: column;
    &-reverse {
      flex-direction: column-reverse;
    }
  }
}

@mixin flex-wrap {
  &-wrap {
    flex-wrap: wrap;
  }

  &-no-wrap {
    flex-wrap: nowrap;
  }
}

@mixin justify {
  &-start {
    justify-content: start;
  }

  &-end {
    justify-content: end;
  }

  &-center {
    justify-content: center;
  }

  &-between {
    justify-content: space-between;
  }
}

@mixin align-items {
  &-start {
    align-items: start;
  }

  &-end {
    align-items: end;
  }

  &-center {
    align-items: center;
  }

  &-between {
    align-items: space-between;
  }
}

.d {
  @include display;

  @each $tag, $breakpoint in $breakpoints {
    @include media-query($breakpoint) {
      &-#{$tag} {
        @include display;
      }
    }
  }
}

.flex {
  @include flex-direction;
  @include flex-wrap;

  @each $tag, $breakpoint in $breakpoints {
    @include media-query($breakpoint) {
      &-#{$tag} {
        @include flex-direction;
        @include flex-wrap;
      }
    }
  }
}

.justify {
  @include justify;

  @each $tag, $breakpoint in $breakpoints {
    @include media-query($breakpoint) {
      &-#{$tag} {
        @include justify;
      }
    }
  }
}

.align-items {
  @include align-items;

  @each $tag, $breakpoint in $breakpoints {
    @include media-query($breakpoint) {
      &-#{$tag} {
        @include align-items;
      }
    }
  }
}
