@import "media";

@mixin txt {
  &-left {
    text-align: left;
  }

  &-right {
    text-align: right;
  }

  &-center {
    text-align: center;
  }

  &-italic {
    font-style: italic;
  }

  &-uppercase {
    text-transform: uppercase;
  }
}

@mixin fw {
  &-regular {
    font-weight: 400;
  }

  &-medium {
    font-weight: 500;
  }

  &-bold {
    font-weight: 700;
  }

  &-black {
    font-weight: 900;
  }
}

.txt {
  @include txt;

  @each $tag, $breakpoint in $breakpoints {
    @include media-query($breakpoint) {
      &-#{$tag} {
        @include txt;
      }
    }
  }
}

.fw {
  @include fw;

  @each $tag, $breakpoint in $breakpoints {
    @include media-query($breakpoint) {
      &-#{$tag} {
        @include fw;
      }
    }
  }
}
