.categoryNav {
  font-size: 42px;
  line-height: 1.3;

  &__item {
    position: relative;
    padding: 24px 0;
    width: 33.333%;

    &.selected {
      &::after {
        position: absolute;
        bottom: 0;
        content: "";
        display: block;
        width: 100%;
        height: 16px;
        background-color: $primary-color;
      }
    }
  }

  &__title {
    margin-left: 8px;
  }
}
@include media-query(map.get($breakpoints, m)) {
  .categoryNav {
    font-size: 28px;
    &__item {
      position: relative;
      padding: 16px 0;

      &.selected {
        &::after {
          height: 8px;
        }
      }
    }
  }
}

@include media-query(map.get($breakpoints, s)) {
  .categoryNav {
    font-size: 14px;
    .product__icon {
      width: 14px;
      height: 14px;
    }
  }
}
