.navbar {
  background-color: $primary-color;
  padding: 30px 0;

  &__container {
    width: ((1920px - (88px * 2))/1920px) * 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }
}

.navList {
  display: flex;

  &__item {
    display: flex;
    align-items: center;
    margin: 0 32px;

    a {
      color: $primary-contrast-color;
      text-decoration: none;
    }

    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
  }
}
