.pagination {
  width: fit-content;
  margin: 0 auto;

  &__item {
    padding: 10px 12px;
    border: 1px solid #555555;
    &.selected {
      background-color: black;
      color: white;
    }
  }
}

@media screen and (max-width: 768px) {
  .pagination {
    &__item {
      padding: 10px 15px;
    }
  }
}

@media screen and (max-width: 375px) {
  .pagination {
    &__item {
      padding: 10px 9px;
    }
  }
}
