$srcIconPath: "../../src/icon";

.product {
  color: $primary-color;

  &__container {
    width: 1100px;
    margin: 0 auto;
  }

  &__title {
    color: $secondary-color;
    text-align: center;
    margin-bottom: 50px;
  }

  &__list {
    &__item {
      display: flex;
      align-items: center;
      margin-bottom: 32px;

      &--reverse {
        flex-direction: row-reverse;
      }

      &:last-child {
        margin-bottom: 80px;
      }
    }

    &__cover {
      width: 635px;
      height: 320px;
      object-fit: cover;

      margin-right: 30px;
      &--reverse {
        margin: 0;
        margin-left: 30px;
      }
    }

    &__icon {
      &,
      &--alter {
        height: 50px;
        margin-right: 8px;
      }

      &--alter {
        display: none;
      }
    }

    &__title {
      display: flex;
      align-items: center;
      text-transform: uppercase;
    }
  }
}

@media screen and (max-width: 768px) {
  .product {
    &__container {
      width: 100%;
    }

    &__title {
      margin-bottom: 32px;
    }
    &__list {
      margin-left: 39px;
      &__item {
        margin-bottom: 8px;
        &--reverse {
          flex-direction: row;
        }

        &:last-child {
          margin-bottom: 40px;
        }
      }
      &__cover {
        width: 390px;
        height: 168px;
        &--reverse {
          margin-right: 30px;
          margin-left: 0;
        }
      }

      &__icon {
        &,
        &--alter {
          max-height: 32px;
          max-width: 32px;
          // object-fit: scale-down;
        }
      }
    }
  }
}
@media screen and (max-width: 375px) {
  .product {
    &__container {
      width: (345/375) * 100%;
      margin: 0 auto;
    }

    &__title {
      margin-bottom: 20px;
    }

    &__list {
      margin: 0;
      &__item {
        position: relative;

        &:last-child {
          margin-bottom: 32px;
        }
      }

      &__cover {
        width: 100%;
        height: 134px;
      }

      &__icon {
        display: none;
        &--alter {
          display: block;
        }
      }

      &__title {
        position: absolute;
        width: 100%;
        display: flex;
        justify-content: center;
        color: $primary-contrast-color;
      }
    }
  }
}
