$primary-color: #aa0601;
$secondary-color: #650300;
$secondary-contrast-color: #aa06010d;
$light: #ffffff;
$dark: #000000;

$colors: (
  primary: #aa0601,
  secondary: #650300,
  secondary-contrast: #aa06010d,
  light: #ffffff,
  dark: #000000,
);
