@use "sass:map";
@import "../utils/media";

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&family=Roboto:wght@400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700;900&display=swap");

body {
  font-family: "Roboto", "Noto Sans TC", sans-serif;
}

$font-sizes: 14, 16, 20, 24, 48, 36, 64, 72;

@each $fz in $font-sizes {
  .fz-#{$fz} {
    font-size: #{$fz}px;
    line-height: 1.5;
  }
}

@include media-query(map.get($breakpoints, m)) {
  $m-font-sizes: 14, 16, 20, 24, 28, 32, 36, 48;
  $m-line-hight: 25;

  @each $fz in $m-font-sizes {
    .fz-m-#{$fz} {
      font-size: #{$fz}px;
      line-height: 1.5;
    }
  }

  @each $lh in $m-line-hight {
    .lh-m-#{$lh} {
      line-height: #{$lh}px;
    }
  }
}

@include media-query(map.get($breakpoints, s)) {
  $s-font-sizes: 14, 16, 20, 24, 28, 32;
  $s-line-hight: 25, 30, 48, 72;
  @each $fz in $s-font-sizes {
    .fz-s-#{$fz} {
      font-size: #{$fz}px;
      line-height: 1.5;
    }
  }

  @each $lh in $s-line-hight {
    .lh-s-#{$lh} {
      line-height: #{$lh}px;
    }
  }
}
