@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&family=Roboto:wght@400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700;900&display=swap");

.roboto {
  &Medium {
    font-family: "Roboto";
    font-weight: 500;
  }
  &Bold {
    font-family: "Roboto";
    font-weight: 700;
  }
  &Black {
    font-family: "Roboto";
    font-weight: 900;
  }
}

.notoSans {
  &Regular {
    font-family: "Noto Sans TC", sans-serif;
    font-weight: 400;
  }

  &Bold {
    font-family: "Noto Sans TC", sans-serif;
    font-weight: 700;
  }
}

.mainTitle {
  font-size: 64px;
  line-height: 1.5;
}

.subMainTitle {
  font-size: 36px;
  line-height: 1.5;
}

.title {
  font-size: 48px;
  line-height: 1.5;
}

.subTitle {
  font-size: 24px;
  line-height: 1.5;
}

.description {
  font-size: 16px;
  line-height: 1.5;
}

.headerFontSize {
  font-size: 20px;
  line-height: 1.5;
}

.footerFontSize {
  font-size: 14px;
  line-height: 1.5;
}

.coBrandTitle {
  font-size: 72px;
  line-height: 1.5;
}

@media screen and (max-width: 768px) {
  .mainTitle {
    font-size: 48px;
  }

  .subMainTitle {
    font-size: 20px;
  }

  .title {
    font-size: 32px;
  }

  .subTitle {
    font-style: 20px;
  }
}

@media screen and (max-width: 375px) {
  .mainTitle {
    font-size: 32px;
    line-height: 72px;
  }

  .subMainTitle {
    font-size: 16px;
    line-height: 30px;
  }
  .title {
    font-size: 24px;
    line-height: 48px;
  }
}
