.container {
  max-width: (1920px - (405px * 2));

  margin: 0 auto;
  padding-top: 64px;
  padding-bottom: 80px;

  &--form {
    max-width: (1920px - 595px * 2);
    margin: 0 auto;
  }

  &--nav {
    max-width: (1920px - 267px * 2);
    margin: 0 auto;
  }
}
@include media-query(map.get($breakpoints, m)) {
  .container {
    max-width: (768px - 39px * 2);
    padding-top: 40px;

    &--form {
      max-width: 450px;
      padding-top: 40px;
    }
  }
}

@include media-query(map.get($breakpoints, s)) {
  .container {
    &,
    &--form {
      max-width: (375px - 15px * 2);
      padding-top: 32px;
      padding-bottom: 32px;
    }
  }
}
