.cover {
  background-image: url("#{$srcImgPath}/banner.png");
  box-sizing: border-box;
  height: 840px;

  margin-bottom: 64px;
}
@include media-query(map.get($breakpoints, m)) {
  .cover {
    background-image: url("#{$srcImgPath}/banner-sm.png");
    margin-bottom: 40px;

    &__container {
      margin-left: (297px/768px) * 100%;
    }

    &__subTitle {
      margin-left: 437px-297px;
    }
  }
}

@include media-query(map.get($breakpoints, s)) {
  .cover {
    background-size: cover;
    background-position: center center;
    height: 394px;
    margin-bottom: 32px;

    &__container {
      margin-left: (72px/375px) * 100%;
    }

    &__subTitle {
      margin-left: 126px-72px;
    }
  }
}
