.intro {
  color: $secondary-color;
  margin-bottom: 144px;

  &__title {
    margin-bottom: 60px;
  }

  &__list {
    display: flex;
    justify-content: space-between;

    &__item {
      width: 20%;
      &--order {
        order: 0;
      }
    }
  }

  &__icon {
    width: 100px;
    height: 100px;
    margin-bottom: 40px;
  }

  &__subTitle {
    margin-bottom: 4px;
  }
}

@media screen and (max-width: 768px) {
  .intro {
    margin-bottom: 80px;
    &__container {
      width: ((768px-85px * 2) /768px) * 100%;
    }

    &__title {
      margin-bottom: 32px;
    }

    &__list {
      flex-wrap: wrap;
      &__item {
        width: 40%;
        margin-bottom: 40px;

        &--order {
          order: 1;
        }
      }
    }

    &__icon {
      width: 80px;
      height: 80px;
      margin-bottom: 16px;
    }

    &__subTitle {
      margin-bottom: 8px;
    }
  }
}

@media screen and (max-width: 375px) {
  .intro {
    margin-bottom: 84px;

    &__title {
      margin-bottom: 20px;
    }

    &__list {
      flex-direction: column;

      &__item {
        width: 100%;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}
