$srcImgPath: "../src/img";

.navbar {
  padding: 30px 88px;
}

.navList {
  font-size: 20px;
  line-height: 1.4;

  &__item {
    height: fit-content;
    margin: 0 32px;

    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
  }
}

.logo {
  background-image: url("#{$srcImgPath}/logo.png");
  width: 80px;
  height: 48px;
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap;
  float: left;
}

@include media-query(map.get($breakpoints, m)) {
  .navbar {
    padding: 30px 39px;
  }

  .navList {
    &__item {
      margin: 0 10px;
    }
  }
}

@include media-query(map.get($breakpoints, s)) {
  .navbar {
    padding: 0;
  }

  .logo {
    width: fit-content;
    margin: 0 auto;
    padding: 10px 0;
  }

  .navList {
    &__item {
      width: 50%;
      box-sizing: border-box;
      border: 1px solid #ffffff;
      margin: 0;
      padding: 8px 0;
    }
  }
}
