$srcImgPath: "../src/img";

.navbar {
  padding: 30px 88px;
}

.navList {
  font-size: 20px;
  line-height: 1.4;

  &__item {
    height: fit-content;

    a {
      padding: 10px 32px;

      &:hover {
        background-color: $secondary-color;
      }
    }
  }
}

.logo {
  background-image: url("#{$srcImgPath}/logo.png");
  width: 80px;
  height: 48px;
  background-size: contain;
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap;
  float: left;
}

@include media-query(map.get($breakpoints, m)) {
  .navbar {
    padding: 30px 39px;
  }

  .navList {
    &__item {
      a {
        padding: 10px 10px;
      }
    }
  }
}

@include media-query(map.get($breakpoints, s)) {
  .navbar {
    padding: 0;
  }

  .logo {
    width: 48px;
    height: 29px;

    margin: 0 auto;
    padding: 10px 0;
  }

  .navList {
    &__item {
      box-sizing: border-box;
      width: 50%;
      border: 1px solid #ffffff;

      a {
        display: block;
        width: 100%;
        padding: 8px 0;

        &:hover {
          background-color: $secondary-color;
        }
      }
    }
  }
}
