.navbar {
  padding: 30px 88px;
}

.navList {
  &__item {
    height: fit-content;
    margin: 0 32px;

    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
  }
}

@media (max-width: 768px) {
  .navbar {
    padding: 30px 39px;
  }

  .navList {
    &__item {
      margin: 0 10px;
    }
  }
}

@media (max-width: 375px) {
  .navbar {
    padding: 0;
  }

  .logo {
    width: fit-content;
    margin: 0 auto;
    padding: 10px 0;
  }

  .navList {
    &__item {
      width: 50%;
      box-sizing: border-box;
      border: 1px solid #ffffff;
      margin: 0;
      padding: 8px 0;
    }
  }
}
