@import "../themes/theme";
$srcIconPath: "../../src/icon";
$srcImgPath: "../../src/img";

.product {
  &__title {
    margin-bottom: 50px;
  }

  &__list {
    &__item {
      margin-bottom: 32px;

      &:last-child {
        margin-bottom: 80px;
      }
    }

    &__cover {
      max-width: 635px;
      img {
        width: 100%;
      }
    }

    &__link {
      margin: 0 30px;
    }

    &__title {
      margin-left: 8px;
    }
  }

  &__icon {
    width: 48px;
    height: 48px;
  }

  &__nav {
    &__item {
      position: relative;
      padding: 24px 0;
      width: 33.333%;

      &.selected {
        &::after {
          position: absolute;
          bottom: 0;
          content: "";
          display: block;
          width: 100%;
          height: 16px;
          background-color: $primary-color;
        }
      }
    }

    &__title {
      margin-left: 8px;
    }
  }

  &__cover {
    height: 309px;

    &__left {
      background-image: url("#{$srcImgPath}/banner-1.png");
    }

    &__right {
      background-image: url("#{$srcImgPath}/banner-2.png");
    }

    &__left,
    &__right {
      height: 100%;
      width: 945px;
      max-width: 50%;
      background-size: cover;
      background-position: center center;
    }

    margin-bottom: 88px;
  }

  &__display {
    margin-bottom: 156px;
    &__wrapper {
      margin-bottom: 100px;
    }

    &__list {
      margin-left: -15px;
      margin-right: -15px;
      margin-bottom: -104px;
    }

    &__title {
      padding-bottom: 40px;
    }

    &__item {
      width: 25%;
      box-sizing: border-box;
      padding: 0 15px;
      margin-bottom: 104px;
    }

    &__cover {
      width: 100%;
      height: 164px;
    }

    &__color {
      width: 24px;
      height: 24px;
      border-radius: 4px;
      margin-right: 8px;
    }
  }
}

@media screen and (max-width: 768px) {
  .product {
    &__container {
      width: 100%;
    }

    &__title {
      margin-bottom: 32px;
    }
    &__list {
      margin-left: 39px;
      &__item {
        margin-bottom: 8px;

        &:last-child {
          margin-bottom: 40px;
        }
      }
      &__cover {
        width: 390px;
        height: 168px;
      }

      &__link {
        margin: 0 0 0 30px;
      }
    }

    &__icon {
      width: 32px;
      height: 32px;
    }

    &__nav {
      &__item {
        position: relative;
        padding: 16px 0;

        &.selected {
          &::after {
            height: 8px;
          }
        }
      }
    }

    &__cover {
      margin-bottom: 40px;
      &__left {
        background-image: url("#{$srcImgPath}/banner-1-sm.jpg");
      }

      &__right {
        background-image: url("#{$srcImgPath}/banner-2-sm.jpg");
      }
    }

    &__display {
      margin-bottom: 104px;

      &__title {
        padding-bottom: 32px;
      }

      &__wrapper {
        margin-bottom: 105px;
      }

      &__list {
        margin-bottom: -72px;
      }

      &__item {
        width: 50%;
        margin-bottom: 72px;
      }
    }
  }
}

@media screen and (max-width: 375px) {
  .product {
    &__title {
      margin-bottom: 20px;
    }

    &__list {
      margin: 0;
      &__item {
        position: relative;

        &:last-child {
          margin-bottom: 32px;
        }
      }

      &__cover {
        width: 100%;
        height: 134px;
      }

      &__link {
        position: absolute;
        width: 100%;
        margin: 0;
      }
    }

    &__cover {
      height: 144px;
      margin-bottom: 30px;
    }

    &__display {
      margin-bottom: 56px;

      &__title {
        padding-bottom: 20px;
      }

      &__wrapper {
        margin-bottom: 40px;
      }

      &__list {
        margin-bottom: -32px;
      }

      &__cover {
        height: 166px;
      }

      &__item {
        width: 100%;
        margin-bottom: 32px;
      }
    }
  }
}
