@import "../themes/theme";
$srcIconPath: "../../src/icon";
$srcImgPath: "../../src/img";
$srcGithubImgPath: "./src/img";

.product {
  &__title {
    margin-bottom: 50px;
  }

  &__list {
    &__item {
      margin-bottom: 32px;

      &:last-child {
        margin-bottom: 80px;
      }
    }

    &__cover {
      max-width: 635px;
      img {
        width: 100%;
      }
    }

    &__link {
      margin: 0 30px;
    }

    &__title {
      margin-left: 8px;
    }
  }

  &__icon {
    width: 48px;
    height: 48px;
  }
}

@media screen and (max-width: 768px) {
  .product {
    &__container {
      width: 100%;
    }

    &__title {
      margin-bottom: 32px;
    }
    &__list {
      margin-left: 39px;
      &__item {
        margin-bottom: 8px;

        &:last-child {
          margin-bottom: 40px;
        }
      }
      &__cover {
        width: 390px;
        height: 168px;
      }

      &__link {
        margin: 0 0 0 30px;
      }
    }

    &__icon {
      width: 32px;
      height: 32px;
    }
  }
}

@media screen and (max-width: 375px) {
  .product {
    &__title {
      margin-bottom: 20px;
    }

    &__list {
      margin: 0;
      &__item {
        position: relative;

        &:last-child {
          margin-bottom: 32px;
        }
      }

      &__cover {
        width: 100%;
        height: 134px;
      }

      &__link {
        position: absolute;
        width: 100%;
        margin: 0;
      }
    }
  }
}
