$srcImgPath: "../../src/img";
$srcGithubImgPath: "../src/img";

.productCover {
  height: 309px;

  &__left {
    &.productOptical {
      background-image: url("#{$srcImgPath}/banner-1.png"),
        url("#{$srcGithubImgPath}/banner-1.png");
    }

    &.productSun {
      background-image: url("#{$srcImgPath}/banner-3.png"),
        url("#{$srcGithubImgPath}/banner-3.png");
    }
  }

  &__right {
    &.productOptical {
      background-image: url("#{$srcImgPath}/banner-2.png"),
        url("#{$srcGithubImgPath}/banner-2.png");
    }
    &.productSun {
      background-image: url("#{$srcImgPath}/banner-4.png"),
        url("#{$srcGithubImgPath}/banner-4.png");
    }
  }

  &__left,
  &__right {
    height: 100%;
    width: 945px;
    max-width: 50%;
    background-size: cover;
    background-position: center center;
  }

  margin-bottom: 88px;
}
@include media-query(map.get($breakpoints, m)) {
  .productCover {
    margin-bottom: 40px;
    &__left {
      &.productOptical {
        background-image: url("#{$srcImgPath}/banner-1-sm.jpg"),
          url("#{$srcGithubImgPath}/banner-1-sm.png");
      }

      &.productSun {
        background-image: url("#{$srcImgPath}/banner-3-sm.png"),
          url("#{$srcGithubImgPath}/banner-3-sm.png");
      }
    }

    &__right {
      &.productOptical {
        background-image: url("#{$srcImgPath}/banner-2-sm.jpg"),
          url("#{$srcGithubImgPath}/banner-2-sm.png");
      }

      &.productSun {
        background-image: url("#{$srcImgPath}/banner-4-sm.png"),
          url("#{$srcGithubImgPath}/banner-4-sm.png");
      }
    }
  }
}

@include media-query(map.get($breakpoints, s)) {
  .productCover {
    height: 144px;
    margin-bottom: 30px;
  }
}
