doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Home
    link(rel='stylesheet' href='./main.css')
  body
    .navbar.bg-primary.d-flex.flex-s-column.justify-between
      a.logo(href='index.html')
        h1 Glass
      ul.navList.fw-regular.text-center.text-light.d-flex.flex-s-wrap.align-items-center
        li.navList__item
          a(href='products-op.html') 系列鏡框
        li.navList__item
          a(href='location.html') 門市據點
        li.navList__item
          a(href='blog.html') 部落格
        li.navList__item
          a(href='faq.html') 常見問題
    block content
    .footer.bg-primary.text-light.fw-regular
      .container
        .footer__top.d-flex.justify-between
          .footer__left
            ul.footer__nav.d-flex.h5
              li 首頁
              li 系列鏡框
              li 門市據點
              li 部落格
              li 常見問題
            ul.footer__contact.h3
              li.d-flex.align-items-center
                svg.footer__contact__icon.icon-light
                  use(xlink:href='/src/icon/ic_phone_48px.svg#phone')
                a(href='tel:+') 0800-000-000
              li.d-flex.align-items-center
                svg.footer__contact__icon.icon-light
                  use(xlink:href='/src/icon/ic_mail_outline_24px.svg#mail')
                a(href='mailto:') glasses@business.com
          .footer__right
            ul.footer__social.d-flex
              li
                a(href='#')
                  svg.footer__social__icon.icon-light.rounded-circle
                    use(xlink:href='/src/icon/logo-facebook.svg#facebook')
              li
                a(href='#')
                  svg.footer__social__icon.icon-light
                    use(xlink:href='/src/icon/logo-instagram.svg#instagram')
              li
                a(href='#')
                  svg.footer__social__icon.icon-light
                    use(xlink:href='/src/icon/line.svg#line')
        .footer__bottom.d-flex.flex-s-row-reverse.align-items-s-end
          div
            img.footer__logo(src='/src/img/logo.png' alt='')
          .footer__policy.d-flex.justify-between.align-items-center.flex-fill.flex-s-column.align-items-s-start
            .footer__copyright.h5
              | Copyright © 2020 Glasses.All rights reserved.
            ul.footer__policy__list.d-flex.h6.flex-s-column.align-items-s-start
              li
                a(href='#') 隱私權政策
              li
                a(href='#') 服務條款
    script(src='./dist/bundle.js')
