extends ../layout/main.pug


block content
  .productCover.d-flex.justify-between
    .productCover__left.productSun
    .productCover__right.productSun
  .productDisplay
    .container
      .productDisplay__title.text-center
        h2.h2-small.fw-medium Celluloid Combi
        h3.h3-small.fw-regular 賽璐珞鈦金屬混合鏡框
      ul.productDisplay__list.text-uppercase.d-flex.flex-wrap
        li.productDisplay__item
          img.productDisplay__cover(src='./src/img/sun-1.jpg' alt='')
          .productDisplay__name
            h3.fw-regular bj41600s
            h3.fw-medium.text-primary ntd3,490
          ul.d-flex
            li.productDisplay__color.bg-option-chocolate
            li.productDisplay__color.bg-option-brown
        li.productDisplay__item
          img.productDisplay__cover(src='./src/img/sun-2.jpg' alt='')
          .productDisplay__name
            h3.fw-regular bj41600s
            h3.fw-medium.text-primary ntd3,490
          ul.d-flex
            li.productDisplay__color.bg-option-chocolate
            li.productDisplay__color.bg-option-brown
        li.productDisplay__item
          img.productDisplay__cover(src='./src/img/sun-3.jpg' alt='')
          .productDisplay__name
            h3.fw-regular bj41600s
            h3.fw-medium.text-primary ntd3,490
          ul.d-flex
            li.productDisplay__color.bg-option-chocolate
            li.productDisplay__color.bg-option-brown
        li.productDisplay__item
          img.productDisplay__cover(src='./src/img/sun-4.jpg' alt='')
          .productDisplay__name
            h3.fw-regular bj41600s
            h3.fw-medium.text-primary ntd3,490
          ul.d-flex
            li.productDisplay__color.bg-option-chocolate
            li.productDisplay__color.bg-option-brown
        li.productDisplay__item
          img.productDisplay__cover(src='./src/img/sun-1.jpg' alt='')
          .productDisplay__name
            h3.fw-regular bj41600s
            h3.fw-medium.text-primary ntd3,490
          ul.d-flex
            li.productDisplay__color.bg-option-chocolate
            li.productDisplay__color.bg-option-brown
        li.productDisplay__item
          img.productDisplay__cover(src='./src/img/sun-2.jpg' alt='')
          .productDisplay__name
            h3.fw-regular bj41600s
            h3.fw-medium.text-primary ntd3,490
          ul.d-flex
            li.productDisplay__color.bg-option-chocolate
            li.productDisplay__color.bg-option-brown
